<div class="container">
  <div class="jumbotron">
    <h1>Properties</h1>
    <p>As an Account manager I want to be able to view the property details as a list in a web page.</p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Owner</th>
        <th scope="col">Address</th>
        <th scope="col">Income Generated</th>
        <th scope="col">Service Area</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of tableData; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{property.owner}}</td>
        <td>
          <p *ngIf="property.address.line1">{{property.address.line1}}</p>
          <p *ngIf="property.address.line2">{{property.address.line2}}</p>
          <p *ngIf="property.address.line3">{{property.address.line3}}</p>
          <p *ngIf="property.address.line4">{{property.address.line4}}</p>
          <p *ngIf="property.address.postCode">{{property.address.postCode}}</p>
          <p *ngIf="property.address.city">{{property.address.city}}</p>
          <p *ngIf="property.address.country">{{property.address.country}}</p>
        </td>
        <td>{{property.incomeGenerated | currency:'GBP'}}</td>
        <td><service-area [postCode]="property.address.postCode"></service-area></td>
      </tr>
    </tbody>
  </table>
</div>